// READ PERMISSIONS
// allow get: if true;
// allow list: if true;

// WRITE PERMISSIONS
// allow create: if false;
// allow update: if false;
// allow delete: if false;

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return isAuthenticated() && 'admin' in request.auth.token && request.auth.token.admin == true;
    }

    function isAuthenticated() {
      return request.auth.uid != null;
    }

    function isKnownUser() {
      return isAuthenticated() && 
        exists(/databases/$(database)/documents/users/$(request.auth.uid))
    }

    function isValidCourse() {
      return request.resource.data.seqNo is number && 
        request.resource.data.seqNo >= 0 && 
        isNonEmptyString('url')
    }

    function isNonEmptyString(fieldName) {
      return request.resource.data[fieldName] is string && 
        request.resource.data[fieldName].size() > 0
    }

    match /courses/{courseId} {
      allow read: if isKnownUser();

      allow create, update: if isAdmin() && isValidCourse();
      allow delete: if isAdmin();

      match /lessons/{lessonId} {
        allow read: if isKnownUser();
        allow delete: if isAdmin();
      }
    }

    match /{path=**}/lessons/{lessonId} {
      allow read: if isKnownUser();
    }
  }
}